<!DOCTYPE html>
<html lang="en">
<head>
  <title>Conversion App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-scrollbar-auto-hide="n" class="layout-top-nav">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content container-fluid pt-2">
          <%= yield %>
      </div>
    </div>
  <div>
</body>
</html>
